.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3e1e1;
  padding-bottom: 28px;
}

.card {
  width: 300px;
  display: inline-block;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 16px 24px;
  border: 2px solid #f5f5f5;
  transition: 0.5s ease-out;
  overflow: visible;
  place-content: center;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card-active {
  border-color: #008bf8;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: min(1024px, 100%);
}

.card-details {
  color: black;
  height: 100%;
  display: grid;
  align-items: center;
}

.card-button {
  transform: translate(-50%, 125%);
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 0.8rem;
  padding: 8px 16px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
/* .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   } 
    */
/* .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }  */

.card .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.the-title {

  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.button-group {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.delete-button,
.edit-button {
  background: none;
  border: none;
  cursor: pointer;
}

.delete-button i,
.edit-button i {
  font-size: 16px;
  color: #080808;
}

.delete-button:hover,
.edit-button:hover {
  opacity: 0.3;
  background: none;
}

.taskpage {
  background-color: #e3e1e1;
}

.taskpage button {
  padding: 0;
}

.editTask {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.editTask button {
  padding: 8px 16px;
  background-color: #868686;
}

.editTask .saveButton {
  background-color: #008bf8;
  /* #60b8d4 */
}

.taskpage input {
  width: 100%;
  margin: 0px;
  padding: 8px;
}

